<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/homePage.css" type="text/css">
</head>
    <body>
        <h1>主页</h1>
        <a href="/user" id="userHome">个人主页</a>
        <a href="/admin" id="showAdmin">管理会议室</a>
        <form>
<!--            <label><input type="text" id="inputSearch" placeholder="搜索会议室...">-->
<!--                <button type="button" id="search" onclick="searchRoom()">搜索</button></label><br><br>-->
            <button type="button" id="goReservation" onclick="Reservation()">预约会议室</button>
            <button type="button" id="checkReservation" onclick="checkHistory()">查看预约记录</button>
        </form>
<!--        <ul id="roomLists" class="roomList">-->
<!--            <li>-->
<!--                <strong>A201 多功能厅</strong>-->
<!--                <span> 位置：2楼 东区</span>-->
<!--                <span> 容量：<span class="capacity">大</span></span>-->
<!--                <span> 空闲时段：09:00 - 12:00</span>-->
<!--            </li>-->
<!--        </ul>-->
    </body>
    <script src="/js/homePage.js"></script>
</html>