<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form>
            <label>Telephone: <input type="text" id="Telephone" required></label><br><br>
            <label>Password: <input type="password" id="password" required></label><br><br>
            <button type="button" onclick="login()">登录</button>
        </form>
        <a href="/register">前往注册</a>
    </body>
    <script src="/js/loginPage.js"></script>
</html>