<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form>
        <label>Telephone: <input type="text" id="Telephone" required></label>
        <label>Name: <input type="text" id="Name" required></label>
        <label>Password: <input type="password" id="Password" required></label>
        <label>Confirm Password: <input type="password" id="ConfirmPassword" required></label>
        <button type="button" id="register" onclick="Register()">Sure Register</button>
    </form>
</body>
<script src="/js/registerPage.js"></script>
</html>